[Unit]
Description=Micro api Auto Starter
After=consul.service
Requires=consul.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/micro api
SyslogIdentifier=microapi
RestartSec=30
Restart=always